---
import LayoutMain from '../../layouts/LayoutMain.astro';
import OtherservicesDetails from '../../components/otheservices/OtherservicesDetails.astro';
---

<LayoutMain title="Other Services">

    <OtherservicesDetails></OtherservicesDetails>


</LayoutMain>