---
import LayoutMain from '../../layouts/LayoutMain.astro';
import DevopsDetails from '../../components/devops/DevopsDetails.astro';
---

<LayoutMain title="Other Services">

    <DevopsDetails></DevopsDetails>


</LayoutMain>