---
import LayoutMain from '../../layouts/LayoutMain.astro';
import ClusterDetails from '../../components/clusterdetails/ClusterDetails.astro';
---

<LayoutMain title="Welcome to Astro.">

    <ClusterDetails></ClusterDetails>


</LayoutMain>