---
import LayoutMain from "../../layouts/LayoutMain.astro";
import MonitoringDetails from "../../components/monitoring/MonitoringDetails.astro";
---

<LayoutMain title="Monitoring">
    <MonitoringDetails />
</LayoutMain>