---
import LayoutMain from "../../layouts/LayoutMain.astro";
import WebsoketserviceDetails from "../../components/websoketservice/WebsoketserviceDetails.astro";
---

<LayoutMain title="WebSoket Service">
    <WebsoketserviceDetails />
</LayoutMain>
