---
import LayoutMain from "../../layouts/LayoutMain.astro";
import MongoApiDetails from "../../components/mongoapi/MongoApiDetails.astro";
---

<LayoutMain title="REST PSQL API">
    <MongoApiDetails />
</LayoutMain>