---
import LayoutMain from "../../layouts/LayoutMain.astro";
import GrpcGatawayDetails from "../../components/grpcgateway/GrpcGatawayDetails.astro";
---

<LayoutMain title="Grpc Gateway">
    <GrpcGatawayDetails />
</LayoutMain>