---
import LayoutMain from '../../layouts/LayoutMain.astro';
import ApiservicesDetails from '../../components/apiservices/ApiservicesDetails.astro';
---

<LayoutMain title="REST API">

    <ApiservicesDetails></ApiservicesDetails>


</LayoutMain>



