---
import Card from "../components/CardBlank.astro";
import CardFooter from "../components/CardFooter.astro";
---

<footer id="footer" class="invisible sm:visible">
    <main>
        <ul role="list" class="link-card-grid">
            <CardFooter
                href="https://mazurov.eu"
                title="Alex Mazurov"
                body="Software Engineer"
                extra=""
            />

            <Card
                href="https://mazurov.eu"
                title="Контакт:"
                body="тг @aleksander_mazurov"
                extra="е-маил: aleksander_mazurov@gmail.com"
            />
        </ul>
    </main>
</footer>

<style>
    #footer {
        position: absolute;        
        bottom: 50px;
        width: 100%;
        height: 4.5rem; /* Footer height */
    }
    main {
    
        margin: auto;       
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 15px;
        line-height: 1.6;
    }
 
    h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(
            rgba(var(--accent-dark), 66%),
            rgba(var(--accent-dark), 33%)
        );
        padding: 1.5rem;
        border-radius: 8px;
    }
    .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }
    .instructions strong {
        color: rgb(var(--accent-light));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>
