---
interface Props {
	title: string;
	body: string;
	href: string;
	extra: string;
	docs: string[];
}

const { href, title, body, extra, docs } = Astro.props;
---

<li class="link-card">
	<a id="link" href={href} target="_blank">
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
		<p class="border-t-2">
			{extra}
		</p>
	</a>
	<div class="ref border-t-0">
		<div>ref:</div>
		{
			docs.map((url) => (
				<a href={url} target="_blank">
					{url}
				</a><br />
			))
		}
	</div>
</li>

<style>
	.link-card {
		list-style: none;
		display: grid;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}

	.ref {
		
		padding-left: 20px;
		/* position: sticky; */
		/* background-color: rgb(51, 53, 51); */
		
	}
	.link-card > #link {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
