---
import LayoutMain from '../../layouts/LayoutMain.astro';
import AdvancedApiDetails from '../../components/advancedapi/AdvancedApiDetails.astro';
---

<LayoutMain title="ADVANCED API">

    <AdvancedApiDetails></AdvancedApiDetails>


</LayoutMain>



