---
import LayoutMain from "../../layouts/LayoutMain.astro";
import CicdDetails from "../../components/cicd/CicdDetails.astro";
---

<LayoutMain title="Git Services">
    <CicdDetails />
</LayoutMain>