---
import LayoutMain from "../../layouts/LayoutMain.astro";
import PsqlApiDetails from "../../components/psqlapi/PsqlApiDetails.astro";
---

<LayoutMain title="REST PSQL API">
    <PsqlApiDetails />
</LayoutMain>
