---
import LayoutMain from "../../layouts/LayoutMain.astro";
import GitservicesDetails from "../../components/gitservices/GitservicesDetails.astro";
---

<LayoutMain title="Git Services">
    <GitservicesDetails />
</LayoutMain>
